__pycache__/
*.py[cod]

build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
CTestTestfile.cmake
Testing/
.ruff_cache/
.venv/
.vs/
.vscode/
.lingma/
www/
tmp/
prompts/

*.obj
*.o
*.exe
*.out